.question.dark-theme {
  background: #0C0326;

  p {
    color: #fefefe;
  }

  &.highlighted {
    background: #10023A;

    footer .user-info span {
      color: #f8f8f8;
    }
  }

  &.answered {
    background: #0C0326;
    filter: opacity(25%);

    footer .user-info img {
      filter: saturate(1);
    }
  }

  footer {
    .user-info span {
      color: #C5C5D3;
    }

    button.like-button {
      color: #C5C5D3;
    }
  }
}

.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  @media (max-width: 768px) {
    padding: 16px;
  }

  & + .question {
    margin-top: 8px;
  }

  p {
    color: #29292e;
  }

  &.highlighted {
    background: #f4f0ff;
    border: 1px solid #835afd;
    
    footer .user-info span {
      color: #29292e;
    }
  }

  &.answered {
    background: #dbdcdd;

    footer .user-info img {
      filter: saturate(0);
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;
      gap: 8px;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}